<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iuling.mods.fabric.mapper.FabricUnbindMapper">
    
	<sql id="fabricUnbindColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.code AS "code",
		a.num AS "num",
		a.unbind_date AS "unbindDate",
		a.unbind_user AS "unbindUser.id",
		a.remarks AS "remarks",
				
				
				
				
				
				
				
				
				
		unbindUser.name AS "unbindUser.name"
	</sql>
	
	<sql id="fabricUnbindJoins">
		
		LEFT JOIN sys_user unbindUser ON unbindUser.id = a.unbind_user
	</sql>
	
    
	<select id="get" resultType="FabricUnbind" >
		SELECT 
			<include refid="fabricUnbindColumns"/>
		FROM fabric_unbind a
		<include refid="fabricUnbindJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="FabricUnbind" >
		SELECT 
			<include refid="fabricUnbindColumns"/>
		FROM fabric_unbind a
		<include refid="fabricUnbindJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="beginUnbindDate != null and endUnbindDate != null and beginUnbindDate != '' and endUnbindDate != ''">
				AND a.unbind_date BETWEEN #{beginUnbindDate} AND #{endUnbindDate}
			</if>
			<if test="unbindUser != null and unbindUser.id != null and unbindUser.id != ''">
				AND a.unbind_user = #{unbindUser.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="FabricUnbind" >
		SELECT 
			<include refid="fabricUnbindColumns"/>
		FROM fabric_unbind a
		<include refid="fabricUnbindJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fabric_unbind(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			code,
			num,
			unbind_date,
			unbind_user,
			remarks
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{code},
			#{num},
			#{unbindDate},
			#{unbindUser.id},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE fabric_unbind SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			code = #{code},
			num = #{num},
			unbind_date = #{unbindDate},
			unbind_user = #{unbindUser.id},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fabric_unbind
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fabric_unbind SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="FabricUnbind" statementType="STATEMENT">
		select * FROM fabric_unbind  where ${propertyName} = '${value}'
	</select>
	
</mapper>