<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iuling.mods.fabric.mapper.FabricDeleteMapper">
    
	<sql id="fabricDeleteColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.code AS "code",
		a.delete_date AS "deleteDate",
		a.delete_user AS "deleteUser.id",
		a.num AS "num",
		a.remarks AS "remarks",
				
				
				
				
				
				
				
				
		deleteUser.name AS "deleteUser.name"
	</sql>
	
	<sql id="fabricDeleteJoins">
		
		LEFT JOIN sys_user deleteUser ON deleteUser.id = a.delete_user
	</sql>
	
    
	<select id="get" resultType="FabricDelete" >
		SELECT 
			<include refid="fabricDeleteColumns"/>
		FROM fabric_delete a
		<include refid="fabricDeleteJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="FabricDelete" >
		SELECT 
			<include refid="fabricDeleteColumns"/>
		FROM fabric_delete a
		<include refid="fabricDeleteJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="beginDeleteDate != null and endDeleteDate != null and beginDeleteDate != '' and endDeleteDate != ''">
				AND a.delete_date BETWEEN #{beginDeleteDate} AND #{endDeleteDate}
			</if>
			<if test="deleteUser != null and deleteUser.id != null and deleteUser.id != ''">
				AND a.delete_user = #{deleteUser.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="FabricDelete" >
		SELECT 
			<include refid="fabricDeleteColumns"/>
		FROM fabric_delete a
		<include refid="fabricDeleteJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fabric_delete(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			code,
			delete_date,
			delete_user,
			num,
			remarks
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{code},
			#{deleteDate},
			#{deleteUser.id},
			#{num},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE fabric_delete SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			code = #{code},
			delete_date = #{deleteDate},
			delete_user = #{deleteUser.id},
			num = #{num},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fabric_delete
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fabric_delete SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="FabricDelete" statementType="STATEMENT">
		select * FROM fabric_delete  where ${propertyName} = '${value}'
	</select>
	
</mapper>