<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iuling.mods.base.mapper.OrderCodeMapper">
    
	<sql id="orderCodeColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.order_key AS "orderKey",
		a.order_val AS "orderVal"
	</sql>
	
	<sql id="orderCodeJoins">
		
	</sql>
	
    
	<select id="get" resultType="OrderCode" >
		SELECT 
			<include refid="orderCodeColumns"/>
		FROM base_order_code a
		<include refid="orderCodeJoins"/>
		WHERE a.order_key = #{id}
	</select>
	
	<select id="findList" resultType="OrderCode" >
		SELECT 
			<include refid="orderCodeColumns"/>
		FROM base_order_code a
		<include refid="orderCodeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="OrderCode" >
		SELECT 
			<include refid="orderCodeColumns"/>
		FROM base_order_code a
		<include refid="orderCodeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO base_order_code(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			order_key,
			order_val
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{orderKey},
			#{orderVal}
		)
	</insert>
	
	<update id="update">
		UPDATE base_order_code SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			order_key = #{orderKey},
			order_val = #{orderVal}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM base_order_code
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE base_order_code SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="OrderCode" statementType="STATEMENT">
		select * FROM base_order_code  where ${propertyName} = '${value}'
	</select>
	
</mapper>