<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iuling.mods.base.mapper.SerialCodeMapper">
    
	<sql id="serialCodeColumns">
		a.id AS "id",
		a.serialcode AS "serialCode",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="serialCodeJoins">
		
	</sql>
	
    
	<select id="get" resultType="SerialCode" >
		SELECT 
			<include refid="serialCodeColumns"/>
		FROM base_serialcode a
		<include refid="serialCodeJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="SerialCode" >
		SELECT 
			<include refid="serialCodeColumns"/>
		FROM base_serialcode a
		<include refid="serialCodeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="SerialCode" >
		SELECT 
			<include refid="serialCodeColumns"/>
		FROM base_serialcode a
		<include refid="serialCodeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findCountBetween" resultType="java.lang.Integer">
		SELECT
		COUNT (0)
		FROM base_serialcode a
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
				AND a.createTime BETWEEN #{startTime} and #{endTime}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO base_serialcode(
			id,
			serialcode,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{serialCode},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE base_serialcode SET 	
			serialcode = #{serialCode},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM base_serialcode
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE base_serialcode SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="SerialCode" statementType="STATEMENT">
		select * FROM base_serialcode  where ${propertyName} = '${value}'
	</select>
	
</mapper>