<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iuling.mods.clothingmanageformj.mapper.KindclothingDeleteItemMapper">
    
	<sql id="kindclothingDeleteItemColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.bar_code AS "barCode",
		a.epc AS "epc",
		a.name AS "name",
		a.supplier_id AS "supplier.id",
		a.kindclothing_delete_id AS "kindclothingDelete.id",
				
				
				
				
				
				
				
				
				
				
		supplier.name AS "supplier.name",
				
		kindclothingDelete.code AS "kindclothingDelete.code"
	</sql>
	
	<sql id="kindclothingDeleteItemJoins">
		
		LEFT JOIN base_supplier supplier ON supplier.id = a.supplier_id
		LEFT JOIN kindclothing_delete kindclothingDelete ON kindclothingDelete.id = a.kindclothing_delete_id
	</sql>
	
    
	<select id="get" resultType="KindclothingDeleteItem" >
		SELECT 
			<include refid="kindclothingDeleteItemColumns"/>
		FROM kindclothing_delete_item a
		<include refid="kindclothingDeleteItemJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="KindclothingDeleteItem" >
		SELECT 
			<include refid="kindclothingDeleteItemColumns"/>
		FROM kindclothing_delete_item a
		<include refid="kindclothingDeleteItemJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="barCode != null and barCode != ''">
				AND a.bar_code = #{barCode}
			</if>
			<if test="epc != null and epc != ''">
				AND a.epc = #{epc}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>

			<if test="kindclothingDelete != null and kindclothingDelete.id != null and kindclothingDelete.id != ''">
				AND a.kindclothing_delete_id = #{kindclothingDelete.id}
			</if>
			<if test="supplier != null and supplier.id != null and supplier.id != ''">
				AND a.supplier_id = #{supplier.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="KindclothingDeleteItem" >
		SELECT 
			<include refid="kindclothingDeleteItemColumns"/>
		FROM kindclothing_delete_item a
		<include refid="kindclothingDeleteItemJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO kindclothing_delete_item(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			bar_code,
			epc,
			name,
			supplier_id,
			kindclothing_delete_id
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{barCode},
			#{epc},
			#{name},
			#{supplier.id},
			#{kindclothingDelete.id}
		)
	</insert>
	
	<update id="update">
		UPDATE kindclothing_delete_item SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			bar_code = #{barCode},
			epc = #{epc},
			name = #{name},
			supplier_id = #{supplier.id},
			kindclothing_delete_id = #{kindclothingDelete.id}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM kindclothing_delete_item
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE kindclothing_delete_item SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="KindclothingDeleteItem" statementType="STATEMENT">
		select * FROM kindclothing_delete_item  where ${propertyName} = '${value}'
	</select>
	
</mapper>