<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iuling.mods.clothingmanageformj.mapper.KindclothingShelvesItemMapper">
    
	<sql id="kindclothingShelvesItemColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.bar_code AS "barCode",
		a.epc AS "epc",
		a.name AS "name",
		a.supplier_id AS "supplier.id",
		a.style AS "style",
		a.editionnumber AS "editionnumber",
		a.kindclothing_shelves_id AS "kindclothingShelves.id",
		a.remarks AS "remarks",
				
				
				
				
				
				
				
				
				
		supplier.name AS "supplier.name",
				
				
				
		kindclothingShelves.code AS "kindclothingShelves.code"
	</sql>
	
	<sql id="kindclothingShelvesItemJoins">
		
		LEFT JOIN base_supplier supplier ON supplier.id = a.supplier_id
		LEFT JOIN kindclothing_shelves kindclothingShelves ON kindclothingShelves.id = a.kindclothing_shelves_id
	</sql>
	
    
	<select id="get" resultType="KindclothingShelvesItem" >
		SELECT 
			<include refid="kindclothingShelvesItemColumns"/>
		FROM kindclothing_shelves_item a
		<include refid="kindclothingShelvesItemJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="KindclothingShelvesItem" >
		SELECT 
			<include refid="kindclothingShelvesItemColumns"/>
		FROM kindclothing_shelves_item a
		<include refid="kindclothingShelvesItemJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="barCode != null and barCode != ''">
				AND a.bar_code = #{barCode}
			</if>
			<if test="epc != null and epc != ''">
				AND a.epc = #{epc}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="kindclothingShelves.id != null and kindclothingShelves.id != ''">
				AND a.kindclothing_shelves_id = #{kindclothingShelves.id}
			</if>

		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="KindclothingShelvesItem" >
		SELECT 
			<include refid="kindclothingShelvesItemColumns"/>
		FROM kindclothing_shelves_item a
		<include refid="kindclothingShelvesItemJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO kindclothing_shelves_item(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			bar_code,
			epc,
			name,
			supplier_id,
			style,
			editionnumber,
			kindclothing_shelves_id,
			remarks
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{barCode},
			#{epc},
			#{name},
			#{supplier.id},
			#{style},
			#{editionnumber},
			#{kindclothingShelves.id},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE kindclothing_shelves_item SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			bar_code = #{barCode},
			epc = #{epc},
			name = #{name},
			supplier_id = #{supplier.id},
			style = #{style},
			editionnumber = #{editionnumber},
			kindclothing_shelves_id = #{kindclothingShelves.id},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM kindclothing_shelves_item
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE kindclothing_shelves_item SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="KindclothingShelvesItem" statementType="STATEMENT">
		select * FROM kindclothing_shelves_item  where ${propertyName} = '${value}'
	</select>
	
</mapper>